.navbar {
  padding: 24px;
}
.navbar_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_top > div > h1 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
}
.listdata {
  color: rgb(197, 192, 192);
  font-size: 14px;
  margin-top: -28px;
  margin-bottom: 30px;
}
.navbar_top img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%;
}
.heightDiv {
  width: 280px;
  height: 160px;
  border-radius: 6px;
  user-select: none;
  background: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}

.heightDiv1 {
  width: 280px;
  height: 160px;
  border-radius: 6px;
  user-select: none;
  background: linear-gradient(297deg, #8ec5fc 8.25%, #e0c3fc 91.76%);
}
.heightDiv11 {
  width: 280px;
  height: 160px;
  border-radius: 6px;
  user-select: none;
  background: linear-gradient(270deg, #ff9a8b 0%, #ff6a88 54.59%, #ff99ac 100%);
}

.heightDiv12 {
  width: 280px;
  height: 160px;
  border-radius: 6px;
  user-select: none;
  background: linear-gradient(297deg, #fbab7e 8.25%, #f7ce68 91.76%);
}

.navbar_top > div > h1 > span {
  background: linear-gradient(to right, #f7514b, #6f77ee);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar2 {
  display: flex;
  border-radius: 3px;
  background: #202022;
  align-items: center;
  justify-content: space-between;
  padding: 9px 16px;
  font-size: 0.8rem;
  width: 96%;
  margin: auto;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.2px;
  margin-top: 2px;
  margin-right: 16px;
}

.navbar2 > button {
  width: 110px;
  border-radius: 3px;
  border: none;
  height: 30px;
  background: #23ab5c;
  font-size: 0.7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* middle part css */

.section_Top {
  padding-left: 24px;
  user-select: none;
}
.section_Top > h1 {
  color: var(--Pure-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; /* 145.455% */
  letter-spacing: 0.2px;
}

.section_Top > p {
  color: var(--Pure-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.2px;
  opacity: 0.6;
  margin-bottom: 16px;
}

.map_card {
  display: flex;
  gap: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* .map_card::-webkit-scrollbar {
  display: none;
} */

.card {
  width: 280px;

  flex-shrink: 0;
  cursor: pointer;
  border-radius: 6px;
}
.card img {
  width: 280px;
  height: 160px;
  border-radius: 6px;
  user-select: none;
}

.card h1 {
  color: var(--Pure-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.2px;
  margin-top: 11px;
}

.card p {
  color: var(--Pure-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.2px;
  opacity: 0.6;
  margin-top: -6px;
}
.sec2 {
  margin-top: 16px;
}

/* Tweets part css */

.tweet_top {
  padding-bottom: 278px;
  padding-left: 24px;
  padding-right: 24px;
}

.tweet_top > h1 {
  color: var(--Pure-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; /* 145.455% */
}
.tweet_top > p {
  color: var(--Pure-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  opacity: 0.6;
}

.tweet_cards {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
}
.tweet_cards::-webkit-scrollbar {
  display: none;
}

.cardtweet {
  gap: 10px;
  display: flex;
  width: 400px;
  cursor: pointer;
}

.tweet_cards img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
}

.cardtweet h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0px;
  width: 178px;
}
.cardtweet p {
  font-size: 0.9rem;
  margin: 5px 0;
  color: rgb(197, 192, 192);
}
.cardtweet_child {
  display: inline-block;
  border-radius: 10px;
  background: #2e3035;
  width: 56px;
  height: 16px;
  flex-shrink: 0;
  color: var(--Pure-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 3px 0px 3px 17px;
}

/* player part css start */

.player {
  height: 95vh;

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 44px;
}

.topPlayer > div {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  align-items: center;
}

.player_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  margin-top: 30px;
}

.player_img img {
  width: 326px;
  height: 169px;
  flex-shrink: 0;
  border-radius: 6px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.main_player1 {
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.main_player1 > h1 {
  width: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  text-wrap: nowrap;
  overflow: hidden;
  margin-top: 0;
}
.main_player1 > p {
    color: var(--Pure-White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 8px;
  opacity: 0.6;
}

.view {
  color: var(--Pure-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border-radius: 6px;
background: var(--Card-on-Dark, #2E3035);
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
padding: 7px 47px 6px 46px;
}


.main_Control button {
    background-color: #101010;
    border: none;
    position: relative;
    cursor: pointer;
  }
  .main_Control button > span {
    color: white;
    position: absolute;
    margin-left: -19px;
    margin-top: 9px;
    font-size: 10px;
    border: none;
  }
  
  .main_Control > div {
    margin: auto;
    margin-top: 30px;
  }
 
  .main1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main1 > input {
    width: 100%;
    margin: 5px 0;
    height: "4px";
    background-color: "red";
    color: "red";
    border: 1px solid red;
  }
  .time {
    display: flex;
    align-items: center;
    padding: 0 2px;
    justify-content: space-between;
  }
  .start {
    display: flex;
    max-width: 600px;
    margin: auto;
    align-items: center;
    padding: 0 2px;
    justify-content: space-between;
  }


